<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exemple footer</title>
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/globals.css">
</head>
<body>
<footer>
    <section class="newsletter">
        <div class="newsletter">
            <h1 class="newsletter">Suivre notre actualité</h1>
            <p class="newsletter">Pedalize s'engage pour vous offrir le meilleur du monde du vélo</p>
            <form class="newsletter" method="POST" action="footer.html">
                <input type="email"  class="newsletter" name="email" placeholder="Adresse e-mail">
                <button type="submit" class="newsletter">S'enregistrer</button>
            </form>
        </div>
    </section>
    <section class="link">
        <div class="shop">
            <p class="shop">Magasin</p>
            <a href="?" class="footer_link">Homme</a>
            <a href="?" class="footer_link">Femme</a>
            <a href="?" class="footer_link">Enfant</a>
        </div>
        <div class="actus">
            <p class="actus">Actualité</p>
            <a href="?" class="footer_link">Rampage</a>
            <a href="?" class="footer_link">Montain of hell</a>
            <a href="?" class="footer_link">Megavalanche</a>
            <a href="?" class="footer_link">Enduro du lion</a>
        </div>
        <div class="cart">
            <p>Achats</p>
            <a href="?" class="footer_link">Votre panier</a>
            <a href="?" class="footer_link">Cartes cadeaux</a>
        </div>
    </section>
</footer>
    
</body>
</html>