<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/globals.css">
    <link rel="stylesheet" href="css/navbar.css">

    <title>Navbar Template</title>
</head>
<body>

<nav id="navbar">
    <section class="left">
        <div class="graphic-logo">
            <a href="index.html">
                <img src="static/img/logo-pedalize.svg" alt="Pedalize">
            </a>
        </div>

        <div class="logo-pedalize">
            <a href="index.html">
                <img src="static/img/graphic-logo-pedalize.svg" alt="Pedalize">
            </a>
        </div>
    </section>

    <section class="buttons">
        <ul>
            <li><a href="product_list.html">Boutique</a></li>
            <li><a href="">Notre savoir faire</a></li>
            <li><a href="">Contact</a></li>
        </ul>
        <a href="">Log<span>in</span></a>
        <div class="desktop-search">
            <img class="search-icon" src="static/img/search-icon.svg" alt="search icon">
            <input type="text" placeholder="Rechercher">
        </div>
    </section>

    <section class="right">
        <button class="burger-menu">
            <img src="static/img/burger-menu-icon.svg" alt="Burger menu">
        </button>
        <div class="desktop-right">
            <div class="market-logo">
                <a href="cart.html">
                    <img src="static/img/market-logo.svg" alt="market logo">
                </a>
            </div>
            <a href="" class="log-in__button">
                log<span class="log-in__green">in</span>
            </a>
        </div>
    </section>
</nav>

<script src="js/burger-menu.js" defer></script>
</body>
</html>