<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedalized-Product Page</title>
    <link rel="stylesheet" href="css/globals.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="icon" href="static/img/logo.png">
    <link rel="stylesheet" href="css/product_page.css">
</head>
<body>
<nav id="navbar">
    <section class="left">
        <div class="graphic-logo">
            <a href="index.html">
                <img src="static/img/logo-pedalize.svg" alt="Pedalize">
            </a>
        </div>

        <div class="logo-pedalize">
            <a href="index.html">
                <img src="static/img/graphic-logo-pedalize.svg" alt="Pedalize">
            </a>
        </div>
    </section>

    <section class="buttons">
        <ul>
            <li><a href="product_list.html">Boutique</a></li>
            <li>Notre savoir faire</li>
            <li>Contact</li>
        </ul>
        <a href="">Log<span>in</span></a>
        <div class="desktop-search">
            <img class="search-icon" src="static/img/search-icon.svg" alt="search icon">
            <input type="text" placeholder="Rechercher">
        </div>
    </section>

    <section class="right">
        <button class="burger-menu">
            <img src="static/img/burger-menu-icon.svg" alt="Burger menu">
        </button>
        <div class="desktop-right">
            <div class="market-logo">
                <a href="cart.html">
                    <img src="static/img/market-logo.svg" alt="market logo">
                </a>
            </div>
            <a href="" class="log-in__button">
                log<span class="log-in__green">in</span>
            </a>
        </div>
    </section>
</nav>
<main class="main">
    <div class="images">
        <div class="main_image">
            <img src="/views/static/img/Rectangle 36.png" alt="premier image meta" >
        </div>
        <section class="other_images">
            <div class="second_image">
                <img src="/views/static/img/Rectangle 37.png" alt="deuxieme image en bas a gauche">
            </div>

            <div class="third_image">
                <img src="/views/static/img/Rectangle 38.png" alt="image au milleu" >
            </div>

            <div class="fourth_image">
                <img src="/views/static/img/Rectangle 39.png" alt="image en bas a droite">
            </div>
        </section>
    </div>

    <div class="texte">
        <div class="modele">
            <h1 id="product_name">Loading...</h1>
        </div>
        <div class="taille">
            <h2>Taille</h2>
            <br>
            <section class="frame_size">
                <div class="box_frame_size">
                    <p class="size">S</p>
                </div>

                <div class="box_frame_size">
                    <p class="size">M</p>
                </div>

                <div class="box_frame_size">
                    <p class="size">L</p>
                </div>

                <div class="box_frame_size">
                    <p class="size">XL</p>
                </div>
            </section>
            <br>


            <div class="guide_tailles">
                <p class="guide_tailles">guide des tailles </p><img src="/views/static/img/Vector.png" alt="icon:?" id="icon">
            </div>
        </div>

        <div class="wheel_size">
            <h2>Taille des roues</h2>
            <section class="select_wheel_size">
                <select name="wheel_size" id="wheel_size" class="wheel_size">
                    <option value="0" class="wheel_size"><p>29"</p></option>
                    <option value="1" class="wheel_size">27.5"</option>
                    <option value="2" class="wheel_size">26"</option>
                </select>
            </section>
        </div>

        <div class="add_cart">
            <p>Ajouter au panier</p>
        </div>

        <div class="buy_now">
            <p>Acheter maintenant</p>
        </div>

    </div>
</main>
<section class="specs">
    <div class="title">
        <h1>Caractéristique</h1>
    </div>

    <div class="description">
        <h2>Description</h2>
        <p class="description">Le META SX V5 se pilote avant de se rouler. Ses 165 mm de débattement sont associés à notre nouvelle cinématique Virtual Contact System. Encore plus efficace, c'est votre allié quand il faut tout donner dans le Bike Park ou dans les secrets runs bien pentus. Monté sur rail, le META SX V5 est la machine pour les riders qui cherchent un bike offrant des sensations au plus proche de celles d'un vélo de Descente.</p>
    </div>

    <div class="specification">
        <h2>Spécification</h2>
        <div class="spec_tab">
            <section class="content">
                <div class="question">
                    <p>couleur</p>
                </div>
                <div class="awnser">
                    <p>spark blue</p>
                </div>
            </section>
            <hr class="line">
            <section class="content">
                <div class="question">
                    <p>debattement avant</p>
                </div>
                <div class="awnser">
                    <p>170 mm</p>
                </div>
            </section>
            <hr class="line">
            <section class="content">
                <div class="question">
                    <p>débatement arrière</p>
                </div>
                <div class="awnser">
                    <p>165 mm</p>
                </div>

            </section>
            <hr class="line">
            <section class="content">
                <div class="question">
                    <p>Matière</p>
                </div>
                <div class="awnser">
                    <p>aluminium</p>
                </div>
            </section>
            <hr class="line">
            <section class="content">
                <div class="question">
                    <p>Poid</p>
                </div>
                <div class="awnser">
                    <p>3,3kg (cadre)</p>
                </div>
            </section>
            <hr class="line">
            <section class="content">
                <div class="question">
                    <p>pratique</p>
                </div>
                <div class="awnser">
                    <p>enduro, downhill</p>
                </div>
            </section>
        </div>
    </div>
</section>
<footer>
    <section class="newsletter">
        <div class="newsletter">
            <h1 class="newsletter">Suivre notre actualité</h1>
            <p class="newsletter">Pedalize s'engage pour vous offrir le meilleur du monde du vélo</p>
            <form class="newsletter" method="POST" action="footer.html">
                <input type="email"  class="newsletter" name="email" placeholder="Adresse e-mail">
                <button type="submit" class="newsletter">S'enregistrer</button>
            </form>
        </div>
    </section>
    <section class="link">
        <div class="shop">
            <p class="shop">Magasin</p>
            <a href="?" class="footer_link">Homme</a>
            <a href="?" class="footer_link">Femme</a>
            <a href="?" class="footer_link">Enfant</a>
        </div>
        <div class="actus">
            <p class="actus">Actualité</p>
            <a href="?" class="footer_link">Rampage</a>
            <a href="?" class="footer_link">Montain of hell</a>
            <a href="?" class="footer_link">Megavalanche</a>
            <a href="?" class="footer_link">Enduro du lion</a>
        </div>
        <div class="cart">
            <p>Achats</p>
            <a href="?" class="footer_link">Votre panier</a>
            <a href="?" class="footer_link">Cartes cadeaux</a>
        </div>
    </section>
</footer>
<script src="js/global.js"></script>
<script src="js/product.js" type="module"></script>
</body>
</html>